@model System.ServiceModel.Syndication.SyndicationFeed
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<style type="text/css">
	#blogs{ list-style: none;}
    #blogs li{line-height:26px;}
	
</style>
<h2>列表</h2>
<ul  id="blogs">
    @if(Model != null) {
        foreach (var item in ViewData.Model.Items)
        {
            <li>@Html.ActionLink(item.Title.Text , "Open", new {Url=item.Links.FirstOrDefault().Uri.AbsoluteUri}, new { target="_blank" }) <span style="margin-left: 10px;">@("[" + item.LastUpdatedTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss") + "]" )</span></li>
        }
    }  else {
        <li>@ViewBag.Message</li>
    }

    @*    <li><a href="@item.Links.FirstOrDefault().Uri.AbsoluteUri" target="_blank">@item.Title.Text</a>  </li>*@

</ul>
