@model Crawler.Entity.TaskItem

@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<style type="text/css">
    #Url
    {
        width: 500px;
    }
</style>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TaskItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsNavigation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsNavigation)
            @Html.ValidationMessageFor(model => model.IsNavigation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutoPaging)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutoPaging)
            @Html.ValidationMessageFor(model => model.AutoPaging)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PageCategory)
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.PageCategory)*@
            @Html.DropDownList("PageCategory", String.Empty)
            @Html.ValidationMessageFor(model => model.PageCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextPageText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NextPageText)
            @Html.ValidationMessageFor(model => model.NextPageText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxPageCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxPageCount)
            @Html.ValidationMessageFor(model => model.MaxPageCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextPageUrlXPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NextPageUrlXPath)
            @Html.ValidationMessageFor(model => model.NextPageUrlXPath)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.RowStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RowStatus)
            @Html.ValidationMessageFor(model => model.RowStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskId, "Task")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TaskId", String.Empty)
            @Html.ValidationMessageFor(model => model.TaskId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "CategoryId")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            内容页捕获规则
        </div>
        <div class="editor-field">
            @Html.DropDownList("CaptureRuleForContent", String.Empty)
        </div>
        <div class="editor-label">
            导航页捕获规则
        </div>
        <div class="editor-field">
            @Html.DropDownList("CaptureRuleForNavigation", String.Empty)
        </div>

        <p>
            <input type="submit" value="Create" name="Create" />
            <input type="submit" value="Create&CaptureRule" name="CreateAddCaptureRule" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
