@*@model IEnumerable<Crawler.Entity.TaskItem>*@

@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "任务项管理";
}
<style type="text/css">
body{ margin-left:0}
.datagrid{ }
.datagrid .panel-header{ border-left-width:0}
.datagrid .panel-body{ border-left-width:0}
h2{ margin-left:10px;}
p{ margin-left:10px;}
</style>
<h2 id="pageTitle">Index</h2>

<p id="searchBox">
    @Html.ActionLink("Create New", "Create")
</p>

<table id="tblTaskItem"></table>
@*<div id="ProgressDialog" style="text-align: center; padding: 50px;">
    <img src="@Url.Content("~/Content/ajax-loader.gif")" width="128" height="15" alt="Loading" />
</div>*@
@section scriptfiles {
   @* @Html.Partial("scriptview")*@
}

@section scripts {
<script type="text/javascript">
    function openOverlay() {
        var atticleTable = $("#tblTaskItem");
        $("<div class=\"datagrid-mask\" style=\"display:block\"></div>").appendTo(atticleTable);
        var msg = $("<div class=\"datagrid-mask-msg\" style=\"display:block\"></div>").html("正在执行命令，请稍等......").appendTo(atticleTable);
        msg.css("left", (atticleTable.width() - msg.outerWidth()) / 2);
    }
    function closeOverlay() {
        var atticleTable = $("#tblArticle");
        atticleTable.children("div.datagrid-mask-msg").remove();
        atticleTable.children("div.datagrid-mask").remove();
    }
    function executeTaskItem(taskItemId) {
        //alert(taskItemId);
        //$("#ProgressDialog").dialog("open");
        var taskItemTable = $(document.body);//  $("#tblTaskItem").datagrid("getPanel");// $("#tblTaskItem");
        $("<div class=\"datagrid-mask\" style=\"display:block\"></div>").appendTo(taskItemTable);
        var msg = $("<div class=\"datagrid-mask-msg\" style=\"display:block\"></div>").html("正在执行命令，请稍等......").appendTo(taskItemTable);
        msg.css("left", (taskItemTable.width() - msg.outerWidth()) / 2);
        //alert(taskItemTable.width());
        //alert( msg.outerWidth());

        $.ajax({
            url: '@Url.Action("Execute")', //form.attr('action'),
            type: "POST",
            data: "id=" + taskItemId,
            success: function (data) {
                //$("#FormContainer").html(data);
                //$.validator.unobtrusive.parse("form");
                //window.parent.$('#tabControl').tabs('add', {
                //    title: 'New Tab',
                //    content: data,
                //    closable: true
                //});
                
                //alert("success");
                var rows = eval("([" + data + "])");
                var html = "<ul>";
                var s = '@Html.ActionLink("打开", "Open", "Article", new { url = "KKKKKK" }, new { target = "_blank" })';
                for (var i = 0; i < rows.length; i++) {
                    
                    html += "<li><a href='" + rows[i].url + "' target='_blank'>" + rows[i].title + "</a>" + s.replace(/KKKKKK/, rows[i].url) + "</li>"
                }
                $("#pageTitle").append(html + "</ul>")

            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#ProgressDialog").dialog("close");
                //alert("complete");
                // 
                taskItemTable.children("div.datagrid-mask-msg").remove();
                taskItemTable.children("div.datagrid-mask").remove();
            }
        });
    }

    function captureRule(taskItemId) {
        addTabToParent('任务项的捕获规则', '@Url.Action("Index", "CaptureRule")' + '?taskitemid=' + taskItemId);
    }

    function addCaptureRule(taskItemId) {
        addTabToParent('添加捕获规则', '@Url.Action("Create", "CaptureRule")' + '?taskitemid=' + taskItemId);
    }
    function editRow(taskItemId) {

        var taskItemTable = $("#tblTaskItem").datagrid("getPanel");
        $("<div class=\"datagrid-mask\" style=\"display:block\"></div>").appendTo(taskItemTable);
        var msg = $("<div class=\"datagrid-mask-msg\" style=\"display:block\"></div>").html("正在执行命令，请稍等......").appendTo(taskItemTable);
        msg.css("left", (taskItemTable.width() - msg.outerWidth()) / 2);
        alert(taskItemTable.width());
        alert(msg.outerWidth());
        //addTabToParent('编辑任务项', '@Url.Action("Edit", "TaskItem")' + '?taskitemid=' + taskItemId);


    }

    $(document).ready(
    function () {
        
        //$('#Industry').combobox({});
        //$('#Category').combobox({});

        var columns = [[
                { field: 'ID', checkbox: true },
                {
                    field: 'Url', title: 'Url', width: 200, align: 'left', sortable: true, resizable: true,
                    formatter: function (value, rowData, rowIndex) {
                        if (value && value.length > 50) {
                            return "<a href='" + value + "' target='_blank'>" + value.substr(0, 50) + "</a>";
                            //return value.substr(0, 20);
                        } else {
                            return "<a href='" + value + "' target='_blank'>" + value + "</a>";
                        }

                    }
                },
                { field: 'IsNavigation', title: '是否导航', width: 50, align: 'right', sortable: true, resizable: false },
                { field: 'AutoPaging', title: '自动翻页', width: 50, align: 'right', sortable: true, resizable: false },
                { field: 'PageCategory', title: 'PageCategory', width: 50, align: 'right', sortable: true, resizable: false },
                { field: 'NextPage', title: 'NextPage', width: 60, align: 'right', sortable: true, resizable: false },
                //{ field: 'MaxPageCount', title: 'MaxPageCount', width: 80, align: 'right', sortable: true, resizable: false },
                {
                    field: 'CreatedDate', title: 'CreatedDate', width: 80, align: 'right', sortable: true, resizable: false,
                    formatter: function (value, rowData, rowIndex) {
                        return convertDateString(value);
                    }
                },
                {
                    field: 'opt', title: '操作列', width: 160, rowspan: 2, align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        var a = '<a href="javascript:void(0);" title="' + rowIndex + '" onclick="editRow(&quot;' + rowData.ID + '&quot;);" style="text-decoration: none;color: #800080;">编辑</a> ';
                        var b = '<a href="javascript:void(0);" title="' + rowIndex + '" onclick="captureRule(&quot;' + rowData.ID + '&quot;);" style="text-decoration: none;color: #800080;margin-left:6px;">已有规则</a> ';
                        var c = '<a href="javascript:void(0);" title="' + rowIndex + '" onclick="addCaptureRule(&quot;' + rowData.ID + '&quot;);" style="text-decoration: none;color: #800080;margin-left:6px;">添加规则</a> ';
                        var d = '<a href="javascript:void(0);" title="' + rowIndex + '" onclick="deleteRow(&quot;' + rowData.ID + '&quot;);" style="text-decoration: none;color: #800080;margin-left:6px;">删除</a>';
                        var e = '<a href="javascript:void(0);" title="' + rowIndex + '" onclick="executeTaskItem(&quot;' + rowData.ID + '&quot;);" style="text-decoration: none;color: #800080;margin-left:10px;">执行</a> ';

                        return a + b + c + d + e;
                    }
                }
        ]];

        function createUser() {
            //$('#btn-save,#btn-cancel').linkbutton();
            //$('#industry').datebox({ currentText: '今天', closeText: "取消", okText: '确定' });

            //var editForm = $('#userForm').window({ modal: true }).window('open');
            //showWindow("添加任务", '@Url.Action("Create", "Task")');
            alert("add");
        }
        var btnCreate = { id: 'btnCreate', text: '新增', iconCls: 'icon-add', handler: createUser };
        var btnEdit = { id: 'btnEdit', text: '编辑', iconCls: 'icon-edit', disabled: true, handler: createUser };
        var btnSave = { id: 'btnSave', text: '保存', iconCls: 'icon-save', disabled: false, handler: createUser };
        var btnDelete = { id: 'btnDelete', text: '删除', iconCls: 'icon-remove', handler: createUser };
        var btnSearch = { id: 'btnSearch', text: '查询', iconCls: 'icon-search', handler: createUser };
        var btnSelect = { id: 'btnSelect', text: '全选', iconCls: 'icon-ok', handler: createUser };

        var toolbar = [btnCreate, '-', btnEdit, '-', btnSave, '-', btnDelete, '-', btnSearch, '-', btnSelect];
        // tabs-header 
        //alert($("#pageTitle").height());
        //alert($("#pageTitle").outerHeight());
        //alert($("#searchBox").height());
        //alert($("#searchBox").outerHeight());
        //alert(parent.$("#tabControl .tabs-header").height());
        //if(window.location.search)
        //    alert("有查询字符串");
        //if (window.location.search.length) {
        //    alert(window.location.search.length + ':' + window.location.search);
        //}
        
        
        $('#tblTaskItem').datagrid({
            url: '@Url.Action("GetPaged","TaskItem", new { pageIndex = 0 })'  + ( window.location.search ? ( '&' + window.location.search.substr(1)) : ''),
                 title: '人员列表',
                 width: document.body.offsetWidth - 10,
                 height: parent.$("#center").height() - $("#pageTitle").height() - $("#searchBox").height() - parent.$("#tabControl .tabs-header").height() - 70,// document.body.offsetHeight -60 , // $(window.parent.document.getElementById("center")).height() - $("#operationRegion").height() - $("#pageTitle").height() - 100,
                 fitColumns: true,
                 nowrap: false,
                 loadMsg: "数据加载中，请稍后……",
                 pagination: true,
                 pageSize:20,
                 idField: 'ID',
                 columns: columns,
                 rowStyler: function (index, row, css) {
                     //                    if (row.listprice > 80) {
                     //                        return 'background-color:#6293BB;color:#fff;font-weight:bold;';
                     //                    }
                 },
                 toolbar: toolbar,
                 onSelect: function (rowIndex, rowData) {
                     //btnEdit.disabled = false;
                     $('#btnEdit').linkbutton('enable');
                 },
                 onBeforeEdit: function (index, row) {
                     alert("onBeforeEdit");
                     row.editing = true;
                     $('#tblTaskItem').datagrid('refreshRow', index);
                     count++;
                 },
                 onAfterEdit: function (index, row) {
                     alert("onAfterEdit");
                     row.editing = true;
                     $('#tblTaskItem').datagrid('refreshRow', index);
                     count--;
                 },
                 onCancelEdit: function (index, row) {
                     alert("onCancelEdit");
                     row.editing = false;
                     $('#tblTaskItem').datagrid('refreshRow', index);
                     count--;
                 }
             });

        var pg = $("#tblTaskItem").datagrid("getPager");
        if (pg) {
            $(pg).pagination({
                beforePageText: '当前是第',
                afterPageText: '页，总共 {pages} 页',
                displayMsg: '当前显示从 {from} 到 {to}，总共 {total} 条',
                onBeforeRefresh: function () {
                    alert('before refresh');
                },
                onRefresh: function (pageNumber, pageSize) {
                    alert(pageNumber);
                    alert(pageSize);
                },
                onChangePageSize: function () {
                    alert('pagesize changed');
                },
                onSelectPage: function (pageNumber, pageSize) {

                    //重新加载datagrid的数据  
                    var url = '@Url.Action("GetPaged","TaskItem")';
                         url += "?pageIndex=" + pageNumber;
                         var opts = $('#tblTaskItem').datagrid('options');
                         opts.url = url;
                         alert(opts.url);
                         //alert($('#Industry').combobox('getValue'));
                         var queryParams = opts.queryParams;
                         queryParams.searchBox = $('#searchBox').html();
                         //queryParams.industry = $('#Industry').combobox('getValue');
                         //queryParams.category = $('#Category').combobox('getValue');
                         //queryParams.institution = $("txtSrcConn").val();
                         //alert(queryParams.industry);

                         $("#tblTaskItem").datagrid('reload');

                         // ================================

                     }
                 });
                 }

        $("#addItem").click(function () {
            var row = $("#tblTaskItem").datagrid("getSelected");
            if (row) {
                //showWindow("ddd", '@Url.Action("Create", "TaskItem")' + '?taskid=' + row.ID);
                     addTab('添加任务项', '@Url.Action("Create", "TaskItem")' + '?taskid=' + row.ID);
                 } else {
                     alert("请先选中要添加任务项的任务！");
                 }
             });

        // =============================
        $("#btnSearch").click(function () {
            //var url = '@Url.Action("GetEmployeePaged","Employee")';
                 //url += "?pageIndex=" + pageNumber;
                 var opts = $('#tblTaskItem').datagrid('options');
                 var queryParams = opts.queryParams;
                 //opts.url = url;
                 alert(opts.url);
                 queryParams.industry = $('#Industry').combobox('getValue');
                 queryParams.category = $('#Category').combobox('getValue');
                 queryParams.institution = $("#txtSrcConn").val();
                 $("#tblTaskItem").datagrid('reload');
             });

        // =============================
        //alert(jQuery.fn.jquery);
    });
</script>
}
