<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       @* @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/apusic/css")
       @Styles.Render("~/Content/themes/cupertino/css")*@
        @Styles.Render("~/Content/themes/easyui/css")
        @Scripts.Render("~/bundles/modernizr")

        <style type="text/css">
            .float-left { float: left;}
            .float-right { float: right;}
            #login {}
            #login ul {margin: 0;}
            #login li {display: inline;list-style: none;}
            #nav {}
            #nav li a{ font-size: 14px;height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
            .a-over{ background:#FFEEAC; border:1px solid #DB9F00;}
	</style>
    </head>
    <body  class="easyui-layout" id="layoutContainer">

    <div id="north"  data-options="region:'north',border:false" style="height:60px;padding:10px">
        <div class="float-left">
            <p class="site-title">@Html.ActionLink("标题", "Index", "Home")</p>
        </div>
        <div id="login" class="float-right">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

	<div id="west"   data-options="region:'west',split:true,title:'West'" style="width:150px;padding:0px;">@Html.Partial("NavigationView", this.ViewData)</div>
	<!--<div id="east"   data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:0px;">east region</div>-->
	<div id="south"  data-options="region:'south',border:false" style="height:30px;background:#fff;padding:6px;"> &copy; @DateTime.Now.Year - My ASP.NET MVC Application</div>

	<div id="center" data-options="region:'center'">
        <div id="tabControl" class="easyui-tabs" data-options="fit:true,border:false">
			<div title="Tab1" style="padding:20px;overflow:hidden;"> 
				<div style="margin-top:20px;">
                    @RenderSection("featured", required: false)
                    @RenderBody()
				</div>
			</div>
			<div title="Tab2" data-options="closable:true" style="padding:20px;">This is Tab2 width close button.</div>
			<div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="overflow:hidden;padding:5px;">
				<table id="tt2"></table> 
			</div>
		</div>
	</div>

@*        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/operamask")*@
	<script type="text/javascript" src="/scripts/jquery-1.8.0.min.js"></script>  
    <script type="text/javascript" src="/scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.easyui.client.js"></script>  

    @RenderSection("scriptfiles", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav").find("li").on("mouseover",function () {
                $(this).addClass("a-over");
            }).on("mouseout", function () {
                $(this).removeClass("a-over");
            });
                
        });
	</script>
    @RenderSection("scripts", required: false)
    </body>
</html>
