@model Crawler.Entity.ArticleCategory

@{
    //Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>文章类别</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ParentID)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.ParentID)*@
            @Html.DropDownList("ParentID", String.Empty)
            @Html.ValidationMessageFor(model => model.ParentID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.ObjectType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ObjectType)
            @Html.ValidationMessageFor(model => model.ObjectType)
        </div>*@

       @* <div class="editor-label">
            @Html.LabelFor(model => model.QueryCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QueryCode)
            @Html.ValidationMessageFor(model => model.QueryCode)
        </div>

        *@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsLeaf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsLeaf)
            @Html.ValidationMessageFor(model => model.IsLeaf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RowStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RowStatus)
            @Html.ValidationMessageFor(model => model.RowStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
